span{
    display: inline-block; /* Treat it as a block for padding/margin */
    margin: 20px;
    padding: 20px;
}
div{
    /* display: inline; */
    border: 2px solid crimson;
    margin: 20px;
    padding: 20px;
}